.grid-item {
	width: 200px;
	height: 200px;
	display: inline-block;
}
.container {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.purple {
	background-color: purple;
}
.orange {
	background-color: orange;
}
